name: React CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  call-reusable-workflow:
    uses: ./.github/workflows/react_reusable.yml
    with:
      node-version: "21"
  # build:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4

  #     - name: Setup Node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 21

  #     - name: Install Dependencies
  #       run: npm install

  #     - name: Build Project
  #       run: npm run build
